backup/2.to_md.json
{
  "name": "2.to_md",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1712,
        2024
      ],
      "id": "524406f3-493c-4172-af85-cb960c4c8ba5",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/requisitos/raw/*.*",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -1488,
        2024
      ],
      "id": "948cce24-7e53-4d7f-9df1-366c19a69632",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.fileExtension }}",
                    "rightValue": "docx|xlsx|xls|xlx|pdf",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    },
                    "id": "01ace220-a308-4bc8-a67e-b3db4f7e8e26"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "docx|xlsx|xls|xlx|pdf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "59d1803f-5eba-460b-96a6-880283d6de62",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "doc",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "doc"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "30828dc0-4b06-4d70-a6fc-f193b74cd5ca",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "png|jpe?g|gif|webp|bmp|tiff",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imagens"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "657c982f-15eb-4a31-9431-9f09e1c4b04f",
                    "leftValue": "={{ $json.fileExtension }}",
                    "rightValue": "md|txt",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "23a2afdf-b8d0-4f7d-9641-e32963f8a54f",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "z",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ZIP"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "12d77977-6db4-44ee-b2b6-be91d4e77802",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "json",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "json"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -816,
        1728
      ],
      "id": "9618e733-1792-4ecd-b77c-1c5583dcc9cc",
      "name": "Switch"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=markitdown \"/home/node/.n8n-files/requisitos/raw/{{ $json.fileName }}\" -o \"/home/node/.n8n-files/requisitos/processado/{{ $json.fileName.substring(0, $json.fileName.lastIndexOf('.')) }}.md\" && cp \"/home/node/.n8n-files/requisitos/raw/{{ $json.fileName }}.meta.json\" \"/home/node/.n8n-files/requisitos/processado/{{ $json.fileName.substring(0, $json.fileName.lastIndexOf('.')) }}.md.meta.json\" || true"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -592,
        1424
      ],
      "id": "7048c7cb-a10c-4cfa-84a3-1d570fb2c973",
      "name": "Markitdown",
      "executeOnce": false
    },
    {
      "parameters": {
        "command": "=mkdir -p \"/home/node/.n8n-files/requisitos/processado/\" && antiword \"/home/node/.n8n-files/requisitos/raw/{{ $json.fileName }}\" | iconv -f ISO-8859-1 -t UTF-8//TRANSLIT > \"/home/node/.n8n-files/requisitos/processado/{{ $json.fileName.substring(0, $json.fileName.lastIndexOf('.')) }}.md\" && cp \"/home/node/.n8n-files/requisitos/raw/{{ $json.fileName }}.meta.json\" \"/home/node/.n8n-files/requisitos/processado/{{ $json.fileName.substring(0, $json.fileName.lastIndexOf('.')) }}.md.meta.json\" || true"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -592,
        1616
      ],
      "id": "91955d0d-871c-44a4-8ed2-e3cdb24fb5e4",
      "name": "antiword"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=tesseract \"/home/node/.n8n-files/requisitos/raw/{{ $json.fileName }}\" stdout -l por > \"/home/node/.n8n-files/requisitos/processado/{{ $json.fileName.substring(0, $json.fileName.lastIndexOf('.')) }}.md\" && cp \"/home/node/.n8n-files/requisitos/raw/{{ $json.fileName }}.meta.json\" \"/home/node/.n8n-files/requisitos/processado/{{ $json.fileName.substring(0, $json.fileName.lastIndexOf('.')) }}.md.meta.json\" || true"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -592,
        1808
      ],
      "id": "5ef0b23c-1f50-41f3-a4ae-d65ca4f2c436",
      "name": "imagens"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=mkdir -p \"/home/node/.n8n-files/requisitos/processado/\" && cp \"/home/node/.n8n-files/requisitos/raw/{{ $json.fileName }}\" \"/home/node/.n8n-files/requisitos/processado/{{ $json.fileName }}\" && cp \"/home/node/.n8n-files/requisitos/raw/{{ $json.fileName }}.meta.json\" \"/home/node/.n8n-files/requisitos/processado/{{ $json.fileName }}.meta.json\" || true"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -592,
        2096
      ],
      "id": "6d16aba5-50df-4cfc-8322-c762efd9b7c5",
      "name": "Text"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -368,
        1840
      ],
      "id": "1985decf-4a95-404f-a420-d5df3311bf44",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "batchSize": 20,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1264,
        2024
      ],
      "id": "5b6a53b9-8897-4be3-a1d5-5d164909d6ce",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "amount": 0.3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -1040,
        1808
      ],
      "id": "83f5a130-06e1-4d53-ad6e-ac2bb19b5be9",
      "name": "Wait",
      "webhookId": "0dd7d0ce-8476-4f5b-8dbd-233a7070074f"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Markitdown",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "antiword",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "imagens",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Markitdown",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markitdown": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "antiword": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "imagens": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "a879df5b-8c54-46bc-8210-335801b51db1",
  "meta": {
    "instanceId": "dd13b4e372b9df78df1f291eee98d5307371a69a336c840770655c0b5e900808"
  },
  "id": "BSJjRDDdsvxZ4WanIICwo",
  "tags": []
}