backup/2.to_md.json
{
  "name": "2.to_md",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1120,
        464
      ],
      "id": "fc61dcbc-4ea1-4829-8d03-5f03b52d7f20",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/requisitos/raw/*.*",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -896,
        464
      ],
      "id": "2358f6d6-fc12-43ee-9b8d-85e7177f81be",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.fileExtension }}",
                    "rightValue": "docx|xlsx|xls|xlx|pdf",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    },
                    "id": "01ace220-a308-4bc8-a67e-b3db4f7e8e26"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "docx|xlsx|xls|xlx|pdf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "59d1803f-5eba-460b-96a6-880283d6de62",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "doc",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "doc"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "30828dc0-4b06-4d70-a6fc-f193b74cd5ca",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "png|jpe?g|gif|webp|bmp|tiff",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imagens"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "657c982f-15eb-4a31-9431-9f09e1c4b04f",
                    "leftValue": "={{ $json.fileExtension }}",
                    "rightValue": "md|txt",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "23a2afdf-b8d0-4f7d-9641-e32963f8a54f",
                    "leftValue": "={{ $json.mimeType }}",
                    "rightValue": "z",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ZIP"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -224,
        240
      ],
      "id": "190926b7-ee58-43f7-ac79-2d33ca3f3463",
      "name": "Switch"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=markitdown \"/home/node/.n8n-files/requisitos/raw/{{ $json.fileName }}\" -o \"/home/node/.n8n-files/requisitos/processado/{{ $json.fileName.substring(0, $json.fileName.lastIndexOf('.')) }}.md\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "28b1d92d-fc3a-43e1-9524-6b7d0cc2458a",
      "name": "Markitdown",
      "executeOnce": false
    },
    {
      "parameters": {
        "command": "=mkdir -p \"/home/node/.n8n-files/requisitos/processado/\" && antiword \"/home/node/.n8n-files/requisitos/raw/{{ $json.fileName }}\" | iconv -f ISO-8859-1 -t UTF-8//TRANSLIT > \"/home/node/.n8n-files/requisitos/processado/{{ $json.fileName.substring(0, $json.fileName.lastIndexOf('.')) }}.md\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        0,
        192
      ],
      "id": "59067dd1-1fd8-4c23-9704-5bf6c329caff",
      "name": "antiword"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=tesseract \"/home/node/.n8n-files/requisitos/raw/{{ $json.fileName }}\" stdout -l por > \"/home/node/.n8n-files/requisitos/processado/{{ $json.fileName.substring(0, $json.fileName.lastIndexOf('.')) }}.md\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        0,
        384
      ],
      "id": "4c7dcef8-831b-4223-9ef0-26a1c76ac414",
      "name": "imagens"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=mkdir -p \"/home/node/.n8n-files/requisitos/processado/\" && cp \"/home/node/.n8n-files/requisitos/raw/{{ $json.fileName }}\" \"/home/node/.n8n-files/requisitos/processado/{{ $json.fileName }}\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        0,
        576
      ],
      "id": "e7af508d-f960-4986-8698-64b23ebf54c4",
      "name": "Text"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        224,
        368
      ],
      "id": "ef6a25ed-7346-435c-9aaf-b142ad826605",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "batchSize": 20,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -672,
        464
      ],
      "id": "fabc2e17-62e1-4676-9844-779d51e5785e",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "amount": 0.3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -448,
        288
      ],
      "id": "b5085e0e-089d-49ae-b483-787c215e63de",
      "name": "Wait",
      "webhookId": "0dd7d0ce-8476-4f5b-8dbd-233a7070074f"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Markitdown",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "antiword",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "imagens",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Markitdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markitdown": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "antiword": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "imagens": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "543db5ae-5e71-423d-b53a-335f44a61032",
  "meta": {
    "instanceId": "dd13b4e372b9df78df1f291eee98d5307371a69a336c840770655c0b5e900808"
  },
  "id": "ip05b2iVRuJdu-As3hjIb",
  "tags": []
}