backup/3.rag_qdrant.json
{
  "name": "3.rag_qdrant",
  "nodes": [
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/requisitos/processado/*.*",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -1296,
        16
      ],
      "id": "69ef1e03-774b-44b4-9b44-bd16ccc838a9",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "batchSize": 200,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1072,
        16
      ],
      "id": "79149057-7a81-4035-bb49-8be0ffbc8ce4",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "collection_rag_alm",
          "mode": "list",
          "cachedResultName": "collection_rag_alm"
        },
        "options": {
          "metadataPayloadKey": "=metadata"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        -176,
        16
      ],
      "id": "5961a0cc-3121-4943-a4b8-9454e8d39221",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "Ns44chZ8nqCZcoU7",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -176,
        240
      ],
      "id": "88058ea4-b2bf-4688-bae7-3efb5c1cedec",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "fkehrMxJshGzXPA7",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "resource_id",
                "value": "={{ $json.metadata.resource_id }}"
              },
              {
                "name": "original_url",
                "value": "={{ $json.metadata.original_url }}"
              },
              {
                "name": "title",
                "value": "={{ $json.metadata.title }}"
              },
              {
                "name": "filename",
                "value": "={{ $json.metadata.filename }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -48,
        240
      ],
      "id": "69c8c8f8-9849-4d4f-94ed-39edb0e2db3f",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -848,
        -64
      ],
      "id": "f0e72a5a-8d52-4c51-bc95-919cef26a860",
      "name": "Wait",
      "webhookId": "d17d9c30-14bc-415e-b1fb-eac8b9edddcd"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nconst items = $input.all();\n\nreturn items.map(item => {\n    // Só processa se for markdown\n    if (item.json.fileExtension === 'md') {\n        const filePath = '/home/node/.n8n-files/requisitos/processado/' + item.json.fileName;\n        const metaPath = filePath + '.meta.json';\n        \n        if (fs.existsSync(metaPath)) {\n            try {\n                const metaContent = JSON.parse(fs.readFileSync(metaPath, 'utf8'));\n                \n                // O n8n/LangChain usa a chave 'metadata' para preencher o payload\n                item.json.metadata = {\n                    resource_id: metaContent.resource_id,\n                    title: metaContent.title,\n                    original_url: metaContent.original_url,\n                    timestamp: metaContent.timestamp,\n                    filename: item.json.fileName\n                };\n                \n            } catch (e) {\n                console.error('Erro ao ler meta:', e);\n            }\n        }\n    }\n    return item;\n});"
      },
      "id": "fcfc82f9-d80c-4b40-9d4c-599b193d53ec",
      "name": "Enrich Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        -64
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1520,
        16
      ],
      "id": "e821dd59-eb82-41ad-b548-0a87fe611d66",
      "name": "When clicking"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1abb49f6-4c9b-4543-9ce4-44cd746f324f",
              "leftValue": "={{ $json.fileExtension }}",
              "rightValue": "md",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -400,
        -64
      ],
      "id": "498a0f20-bb61-43d1-a08f-9dd127a0921a",
      "name": "Filter md"
    }
  ],
  "pinData": {},
  "connections": {
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Enrich Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich Metadata": {
      "main": [
        [
          {
            "node": "Filter md",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter md": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "a632dafe-ded2-4093-8ff7-a5212d84cc04",
  "meta": {
    "instanceId": "dd13b4e372b9df78df1f291eee98d5307371a69a336c840770655c0b5e900808"
  },
  "id": "UGLqzls80AmBkAiD9O7YM",
  "tags": []
}