backup/3.rag_qdrant.json
{
  "name": "3.rag_qdrant",
  "nodes": [
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/requisitos/processado/*.*",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -1344,
        108
      ],
      "id": "69ef1e03-774b-44b4-9b44-bd16ccc838a9",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "batchSize": 200,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1120,
        108
      ],
      "id": "79149057-7a81-4035-bb49-8be0ffbc8ce4",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "collection_rag_alm",
          "mode": "list",
          "cachedResultName": "collection_rag_alm"
        },
        "options": {
          "metadataPayloadKey": "metadata"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        608,
        108
      ],
      "id": "5961a0cc-3121-4943-a4b8-9454e8d39221",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "Ns44chZ8nqCZcoU7",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        576,
        332
      ],
      "id": "88058ea4-b2bf-4688-bae7-3efb5c1cedec",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "fkehrMxJshGzXPA7",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -896,
        -16
      ],
      "id": "f0e72a5a-8d52-4c51-bc95-919cef26a860",
      "name": "Wait",
      "webhookId": "d17d9c30-14bc-415e-b1fb-eac8b9edddcd"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst originalItems = $(\"Extract from File\").all();\n\nreturn $input.all().map((item, index) => {\n    const original = originalItems[index].json;\n    const aiOutput = item.json.output || \"\";\n    \n    let aiFields = {};\n    try {\n        aiFields = typeof aiOutput === 'string' ? JSON.parse(aiOutput) : aiOutput;\n    } catch (e) {\n        aiFields = {};\n    }\n\n    const fileName = original.fileName;\n    const metaPath = `/home/node/.n8n-files/requisitos/processado/${fileName}.meta.json`;\n    \n    let diskMeta = {};\n    if (fs.existsSync(metaPath)) {\n        try {\n            diskMeta = JSON.parse(fs.readFileSync(metaPath, 'utf8'));\n        } catch (e) {}\n    }\n\n    return {\n        json: {\n            metadata: {\n                resource_id: diskMeta.resource_id || original.metadata?.resource_id || \"\",\n                original_url: diskMeta.original_url || original.metadata?.original_url || \"\",\n                fileName: fileName,\n                ai_summary: aiFields.summary || \"\",\n                ai_keywords: Array.isArray(aiFields.keywords) ? aiFields.keywords.join(', ') : (aiFields.keywords || \"\"),\n                ai_goal: aiFields.target_goal || \"\",\n                ingested_at: new Date().toISOString()\n            },\n            // UNINDO O JSON DA IA AO TEXTO PARA BUSCA SEMÂNTICA\n            data: `METADADOS DA IA: ${aiOutput}\\n\\nCONTEÚDO ORIGINAL:\\n${original.data}`\n        }\n    };\n});"
      },
      "id": "fcfc82f9-d80c-4b40-9d4c-599b193d53ec",
      "name": "Enrich Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        -16
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1568,
        108
      ],
      "id": "e821dd59-eb82-41ad-b548-0a87fe611d66",
      "name": "When clicking"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1abb49f6-4c9b-4543-9ce4-44cd746f324f",
              "leftValue": "={{ $json.fileExtension }}",
              "rightValue": "md",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -672,
        -16
      ],
      "id": "498a0f20-bb61-43d1-a08f-9dd127a0921a",
      "name": "Filter md"
    },
    {
      "parameters": {
        "chunkSize": 2000,
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        784,
        540
      ],
      "id": "60889b6f-c620-4b80-8496-373e82236b80",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extraia os metadados do seguinte texto: {{ $json.data }}",
        "options": {
          "systemMessage": "Você é um assistente de indexação técnico. Sua única função é extrair 3 informações em formato JSON puro.\n\nREGRAS CRÍTICAS:\n\nResponda APENAS o JSON.\n\nNão inclua o texto original na resposta.\n\nEstrutura: { \"summary\": \"...\", \"keywords\": [], \"target_goal\": \"...\" }"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -224,
        -16
      ],
      "id": "1411ed09-737c-4900-80ca-c5a24311f45a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {
          "keepSource": "json"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -448,
        -16
      ],
      "id": "84d9cf1a-9cda-48c8-ab8f-aef5180a0c2f",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "model": "llama3.1:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -152,
        208
      ],
      "id": "358dee26-e000-4ade-a61b-3c0d0082dbcd",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "fkehrMxJshGzXPA7",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n    let raw = item.json.output;\n    let aiData = {\n        summary: \"Não foi possível extrair\",\n        keywords: \"\",\n        target_goal: \"\"\n    };\n\n    // TENTATIVA 1: Procurar JSON Puro ou dentro de blocos Markdown\n    const jsonMatch = raw.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) {\n        try {\n            const cleanJson = JSON.parse(jsonMatch[0].replace(/```json|```/g, \"\"));\n            aiData.summary = cleanJson.summary || aiData.summary;\n            aiData.keywords = Array.isArray(cleanJson.keywords) ? cleanJson.keywords.join(', ') : (cleanJson.keywords || \"\");\n            aiData.target_goal = cleanJson.target_goal || \"\";\n        } catch (e) {\n            // Se falhar o parse do JSON, cai para a TENTATIVA 2\n        }\n    }\n\n    // TENTATIVA 2: Se o resumo ainda for o padrão, tenta extrair via Regex de texto\n    if (aiData.summary === \"Não foi possível extrair\") {\n        // Procura por \"Summary: \" ou \"**Summary:**\"\n        const sMatch = raw.match(/(?:Summary|summary):\\s*[\"\\*]*([^\"\\n\\*]+)/i);\n        const kMatch = raw.match(/(?:Keywords|keywords):\\s*\\[?([^\\]\\n]+)\\]?/i);\n        const gMatch = raw.match(/(?:Target Goal|target_goal):\\s*[\"\\*]*([^\"\\n\\*]+)/i);\n\n        if (sMatch) aiData.summary = sMatch[1].trim();\n        if (kMatch) aiData.keywords = kMatch[1].replace(/[\\[\\]\"\\*]/g, \"\").trim();\n        if (gMatch) aiData.target_goal = gMatch[1].trim();\n    }\n\n    item.json.ai_metadata = aiData;\n    return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        -16
      ],
      "id": "4ffa7679-f557-427e-addd-9c27dca892f6",
      "name": "Clean"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "resource_id",
                "value": "={{ $json.metadata.resource_id }}"
              },
              {
                "name": "original_url",
                "value": "={{ $json.metadata.original_url }}"
              },
              {
                "name": "fileName",
                "value": "={{ $json.metadata.fileName }}"
              },
              {
                "name": "ai_summary",
                "value": "={{ $json.metadata.ai_summary }}"
              },
              {
                "name": "ai_keywords",
                "value": "={{ $json.metadata.ai_keywords }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        704,
        332
      ],
      "id": "8e470fd2-f499-4639-b82d-b22deebb14af",
      "name": "Default Data Loader"
    }
  ],
  "pinData": {},
  "connections": {
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Filter md",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich Metadata": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter md": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Clean",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Clean": {
      "main": [
        [
          {
            "node": "Enrich Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "7ef8fd4d-955f-4a25-930f-5f461eb72d74",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dd13b4e372b9df78df1f291eee98d5307371a69a336c840770655c0b5e900808"
  },
  "id": "UGLqzls80AmBkAiD9O7YM",
  "tags": []
}