backup/testes_loop.json
{
  "name": "testes_loop",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const items = [];\n\nfor (let i = 1; i <= 100; i++) {\n  items.push({\n    json: {\n      id: i,\n      nome: `item ${i}`,\n      data_criacao: new Date().toISOString()\n    }\n  });\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        72
      ],
      "id": "7a8bb3ba-6b40-40ca-8c5e-4e0dd3415eb0",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\n\nconst baseDir = '/home/node/.n8n-files/requisitos/testes/';\n\n// Cria o diretório caso ele não exista (recursivo)\nif (!fs.existsSync(baseDir)) {\n  fs.mkdirSync(baseDir, { recursive: true });\n}\n\n// Itera sobre todos os itens que chegam ao nó\nfor (const item of $input.all()) {\n  const fileName = `item_${item.json.id}.json`;\n  const filePath = path.join(baseDir, fileName);\n  \n  // Converte o conteúdo do item para string JSON\n  const content = JSON.stringify(item.json, null, 2);\n  \n  try {\n    fs.writeFileSync(filePath, content);\n    // Adiciona uma confirmação no item para você ver no n8n\n    item.json.status_salvamento = 'sucesso';\n    item.json.caminho_arquivo = filePath;\n  } catch (error) {\n    item.json.status_salvamento = 'erro';\n    item.json.erro_mensagem = error.message;\n  }\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        72
      ],
      "id": "6510d0b8-9644-4574-a281-2e48a3902932",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "// Captura os itens do lote atual (10 itens por vez)\nconst items = $input.all();\nconst agora = new Date().toLocaleString('pt-BR', { timeZone: 'America/Sao_Paulo' });\n\nreturn items.map((item) => {\n  return {\n    json: {\n      ...item.json,\n      cidade: `Cidade ${item.json.id}`,\n      hora_processamento: agora,\n      lote_status: \"processado\"\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "9ad373c8-1a68-42a0-b82f-908b5da9a338",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -240,
        72
      ],
      "id": "1b8d9016-46fa-44d4-a28b-5b23487c294a",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -688,
        72
      ],
      "id": "ca48b402-7b53-45de-acb0-fcf7291cf1c5",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -16,
        0
      ],
      "id": "1f013ce6-f45a-4df2-a3ca-2d587f629c95",
      "name": "Wait",
      "webhookId": "2bc0f5cf-c36a-4e9c-99bb-73d4bb5a6edc"
    }
  ],
  "pinData": {},
  "connections": {
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "6355f4d9-b643-42c7-a7ef-f878faad3fdc",
  "meta": {
    "instanceId": "1f0ad9069911a95e4caa8f69b9d2353af307adfce9d34cb3dadbd6a9f70ffa0c"
  },
  "id": "l8fDpenSpn1F3lRLN97Lu",
  "tags": []
}